<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>タオとケイの家</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'machine/css/bootstrap.min.css'%}">
    <script src="{% static 'machine/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'machine/js/bootstrap.bundle.min.js' %}"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</html>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">メニュー</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/top/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">日記</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">話部屋</a>
        </li>
        <li class="nav-item">
            {% if request.session.user_id %}
          <a class="nav-link" href="/logout/" tabindex="-1" aria-disabled="true">ログアウト</a>
            {% else %}
          <a class="nav-link disabled" href="/logout/" tabindex="-1" aria-disabled="true">ログアウト</a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block content %}
      {{ content }}
    {% endblock %}
</body>
</html>