{% extends "base.html" %}
    {% block content%}
<center><div class="hello">タオとケイの家</div></center>
<center><h1>タオちゃんこんにちは</h1></center>
<form method="post" action="/logout/">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
   <h4 class="mt-4 border-bottom">書籍の一覧</h4>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">書籍名</th>
          <th scope="col">出版社</th>
          <th scope="col">ページ数</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{ book.id }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.publisher }}</td>
          <td>{{ book.page }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
<script>
    var x = new XMLHttpRequest();
    for(var i=1;i<10;i++){
    document.write("こんにちは");
    }
    jQuery(function($){
    $(".hello").css("background","orange");
    });
</script>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">ユーザーID</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ユーザーID">
    <small id="emailHelp" class="form-text text-muted">パスワードを入力してください</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">パスワード</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="パスワード">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
 <button type="button" class="btn btn-primary btn-lg">ログイン</button>
</form>

    {% endblock %}
